/* Global Settings */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 15px;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #F7FE2E;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.product-card {
  border: 2px solid #F7FE2E;
  padding: 10px;
  background-color: #000000;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.product-card:hover {
  background-color: #585858;
  transform: scale(1.03);
}

.product-card img {
  max-width: 70%;
  border: 2px solid #58FAF4;
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.1);
}

.product-card p {
  font-family: 'Press Start 2P', cursive;
  margin-top: 10px;
  color: #58FAF4;
  width: 90%;
  font-size: 0.8em;
}

/* NavBar Styles */
nav {
  background-color: #000000;
  border-bottom: 3px solid #F7FE2E;
  padding: 0 20px;
  position: relative;
}

nav a, nav button {
  font-family: 'Press Start 2P', cursive;
  color: #58FAF4;
  border: 2px solid transparent;
  padding: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover, nav button:hover {
  background-color: #585858;
  border: 2px solid #F7FE2E;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  border: 1px solid #F7FE2E;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.menu-button:hover + .dropdown, 
.dropdown:hover {
  opacity: 1;
  visibility: visible;
}

.menu-button {
  background-color: #000000;
  font-family: 'Press Start 2P', cursive;
  color: #58FAF4;
  border: 2px solid transparent;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #585858;
  border: 2px solid #F7FE2E;
}

.persistent-cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #000000;
  padding: 10px;
  border: 2px solid #F7FE2E;
  z-index: 2000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.persistent-cart a {
  color: #58FAF4;
  text-decoration: none;
}

.persistent-cart a:hover {
  background-color: #585858;
}

/* Login, Signup, Profile Pages */
.form-container {
  background-color: #000000;
  padding: 20px;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 40px auto;
}

input[type="text"], input[type="password"], input[type="email"], textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: #585858;
  border: none;
  color: #F7FE2E;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  outline: none;
  background-color: #F7FE2E;
  color: #000000;
}

button {
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  background-color: #58FAF4;
  color: #000000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #F7FE2E;
  transform: scale(1.05);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
